@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}

html{
  font-size: 65.7%;
}

a{
  text-decoration: none;
}

button{
  text-transform: uppercase;
}

li{
  list-style: none;
}

h1{
  margin-bottom: 10px;
  font-size: 3rem;
}

main{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  min-height: 100vh;
}

nav{
  padding: 0px 1rem;
  position: relative;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: .1rem solid #ccc;
}

nav a{
  font-size: 2rem;
  color: #ccc;
  border-bottom: .3rem solid transparent;
}

nav a.active,nav a:hover{
  border-color:#3a3845;
  color: #000;
}

form input{
  border: .1rem solid #ccc;
  border-radius: .3rem;
  width: 45rem;
  margin: 4rem 0;
  padding: .6rem 1rem;
  font-size: 1.6rem;
  letter-spacing: .06rem;
  font-weight: bold;
}

form button{
  padding: .8rem 2.8rem;
  border: none;
  border-radius: .3rem;
  font-weight: bold;
  cursor: pointer;
  margin-left: 2.4rem;
   background-color: #68B984;
   color: #fff;
}

label{
  font-size: 1.5rem;
  letter-spacing: .06rem;
  color: #3A3845;
  font-weight: bold;
}

ul li{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width:50rem;
  min-height: 6rem;
  border-bottom: .1rem solid #ccc;
}

ul li:first-child{
  border-top: .1rem solid #ccc;
}

ul li:hover{
  background-color: #fef2f2;
}

ul li input[type="checkbox"]:checked  + label {
  text-decoration: line-through;
  color: #D14D72;
}

ul li button{
  padding: .6rem 1rem;
  width: 7rem;
  background-color: #D14D72;
  color: #FFF9F9;
  border:none;
  display: inline-block;
  cursor: pointer;
  justify-self: center;
  letter-spacing: .1rem;
}